:root{
  --cor-do-estoque: #85d172;
  --submit: #a3dd90;
  --background-produtos: #c2e8ae;
  --background-categorias: #e0f4cb;
  --background-geral: #ffffe9;
  --verde-forte: #4fe728;
  --verde-mais-forte: #2ef52e;
  --verde-escuro: #2e8f2e;
}

.filter-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.filter-option {
  cursor: pointer;
  padding: 10px 20px;
  margin: 5px 5px;
  background-color: #f2f2f2;
  transition: background-color 0.3s;
  font-size: small;
  border: 1px solid #f2f2f2;
  border-radius: 5px;
}

.filter-option.selected {
  background-color: var(--verde-forte);
  color: rgb(0, 0, 0);
  border-color: var();
}

.filter-option.selected:hover {
  background-color: var(--verde-escuro);
}

.filter-option:hover {
  background-color: var(--verde-forte);
}

/* .table-row .actions {
  visibility: hidden;
}

.table-row:hover .actions {
  visibility: visible;
} */

.action-icon {
  cursor: pointer;
  margin: 0 5px;
  color: black;
}

.action-icon:hover {
  color: var(--verde-mais-forte);

}

#loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#linha {
  margin: 0;
  padding: 0;
  border-top: 5px solid #218838;
  opacity: 1;
}
